name: Python package

on:
  push:
    branches:
      - '**'
      - '!queues'
  pull_request:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, 3.10]
        env:
          TOXENV: ['py37-dj32', 'py38-dj32', 'py39-dj32', 'py310-dj32']
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage codecov coveralls tox
    - name: Run fake server
      run: ./bin/fake-server &
    - name: Run tests
      run: tox
    - name: Upload coverage to Coveralls
      if: success()
      run: coveralls
    - name: Upload coverage to Codecov
      if: success()
      run: codecov

  deploy:
    if: github.ref == 'refs/heads/main' && github.event_name == 'push' && contains(github.event.head_commit.message, 'v')
    runs-on: ubuntu-22.04
    needs: test
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: 3.10
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Build and publish
      env:
        TWINE_USERNAME: apsl
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        tox
        python -m pip install --upgrade build twine
        python -m build
        python -m twine upload dist/*
