name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.8, 3.9, 3.10, 3.11]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: pip install --requirement dev-requirements.txt

    - name: Validate coding guidelines
      if: ${{ matrix.python-version == '3.8' }}
      run: pre-commit run --all-files

    - name: Run test suite
      run: |
        python setup.py develop
        pytest --verbose

    - name: Build and install package
      run: |
        python setup.py bdist_wheel
        python setup.py install

    - name: Test drive installed pygount
      run: |
        pygount --version
        pygount --help
        pygount pygount *.cfg *.yaml
        pygount --format=summary pygount *.cfg *.yaml

    - name: Upload coverage to Coveralls
      if: ${{ matrix.python-version == '3.8' }}
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      run: coveralls
