name: Python package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9"]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y graphviz python-tk python-matplotlib
        pip install Sphinx recommonmark pep8 coverage coveralls numpy

    - name: Run tests
      run: |
        python -Wall setup.py try
        python setup.py install
        python -Wall setup.py test
        COVERAGE=1 coverage run test/runtest.py
        python run.py --doctest
        python run.py --html

    - name: Check code style
      run: pep8 --exclude=asizeof.py,metadata.py,bottle*.py --max-line-length=80 pympler

    - name: Upload coverage to Coveralls
      if: success()
      run: coveralls
