name: Python application

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9]

    env:
      BOTO_CONFIG: /dev/null

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install flake8

    - name: Set up DynamoDB Local
      run: |
        mkdir /tmp/dynamodb_local
        wget -O - https://s3-us-west-2.amazonaws.com/dynamodb-local/dynamodb_local_latest.tar.gz | tar xz --directory /tmp/dynamodb_local
        java -Djava.library.path=/tmp/dynamodb_local/DynamoDBLocal_lib -jar /tmp/dynamodb_local/DynamoDBLocal.jar -sharedDb -inMemory &
        sleep 5

    - name: Lint with flake8
      run: flake8 --ignore=E501,W504

    - name: Run tests
      run: |
        mkdir dump && cp -a test/testTable dump
        # test basic restore and backup
        python dynamodump.py -m restore -r local -s testTable -d testRestoredTable --host localhost --port 8000 --accessKey a --secretKey a
        python dynamodump.py -m backup -r local -s testRestoredTable --host localhost --port 8000 --accessKey a --secretKey a
        python test/test.py
        # test wildcard restore and backup
        python dynamodump.py -m restore -r local -s "*" --host localhost --port 8000 --accessKey a --secretKey a
        rm -rf dump/test*
        python dynamodump.py -m backup -r local -s "*" --host localhost --port 8000 --accessKey a --secretKey a
        python test/test.py
        # test prefixed wildcard restore and backup
        python dynamodump.py -m restore -r local -s "test*" --host localhost --port 8000 --accessKey a --secretKey a --prefixSeparator ""
        rm -rf dump/test*
        python dynamodump.py -m backup -r local -s "test*" --host localhost --port 8000 --accessKey a --secretKey a --prefixSeparator ""
        python test/test.py
