name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9"]
    env:
      PYTHONHASHSEED: 0
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: make travis-setup
      - name: Run tests
        run: make ci

  test-pypy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up PyPy
        uses: actions/setup-python@v2
        with:
          python-version: pypy-3.7
      - name: Install dependencies
        run: |
          pip install termcolor==1.1.0 pytest==6.2.4 pytest-xdist==2.3.0
      - name: Run tests
        run: py.test -n auto

  coverage:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: make travis-setup
      - name: Run coverage
        run: make coverage
      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash)
