name: CI

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8, 3.7]
        include:
          - os: ubuntu-latest
            python-version: 3.8
            arch: x64
          - os: ubuntu-latest
            python-version: 3.8
            arch: arm64
          - os: macos-latest
            python-version: 3.7
            arch: x64
          - os: windows-latest
            python-version: 3.8
            arch: x64

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade pyinstaller wheel
        pip install -r requirements.txt

    - name: Build
      run: |
        cd pyinstaller && ./bundle.sh

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v2

    - name: Upload Release Assets
      uses: softprops/action-gh-release@v1
      with:
        files: deploy/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
