name: Python package

on:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        python-version: [3.8, 3.9]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Run tests
        run: tox -e py${{ matrix.python-version.replace('.', '') }}
